/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    border: 3px solid black;
    border-style: inset
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}



.card-body {
    border-style: outset
}





.button {
    background-color: black;
    color: yellow;
    border: 5px solid white;
    font-size: 25px;
    border-style: dashed;
    border-color: black
}




footer a{
    background-color: yellow;
    padding: 0px;
    text-align: center;
    color: black;
}

footer a:hover{
    background-color:white
}







.navbar{
    background-color:black;
    height:50px;
    padding:5px;
    width:100%; 
    
        

}





.navbar a:hover {
    background-color: yellow;
    height: 50px;
    padding: 5px;
    width: 100%;
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    color:black
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
        
        
    }
}
