@using Microsoft.AspNetCore.Identity

@model Musportz.Models.BlogPost
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> userManager



@{
    ViewData["Title"] = "Create";
}

<h2>Blog</h2>

<h4>Create Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" typeof="textarea" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div>
                
                <label for="Photo"></label>
                <input id="FilePhoto" type="file" name="FilePhoto" value="Upload Blog Picture" />
            </div>
            <div class="form-group">
                <label asp-for="UserProfileId" class="hidden"></label>
                <input asp-for="UserProfileId" class="hidden" value="@ViewBag.UserProfileId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Post Blog" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-controller="BlogPosts" asp-action="userBlogPost">View your Blogs</a> |
    <a asp-controller="UserProfiles" asp-action="Profile" asp-route-id="@Model.Id">View Profile</a> |
</div>

