@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Musportz is a web app that allows fans of  music and sports to congregate and talk about what 
    type of music they are into at any moment. It is an online community specific to catering to music 
    and sports. Users can blog their interests and interact with other users who share the same interests.</p>
