@{
    ViewData["Title"] = "About Musportz";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Musportz is a web app that allows fans of  music and sports to congregate and talk about what 
    type of music they are into at any moment. It is an online community specific to catering to music 
    and sports. Users can blog their interests and interact with other users who share the same interests.</p>

<h2>About the Creator</h2>
<p>
    My name is Samuel Aladegbemi. I am the creator of Musportz.com. As an aspiring web developer
    my two biggest passions are music and sports. Most of the time when you see me, I'm probably jammming to a latest music that as caught my 
    attention or interacting with various sport activities like Football, basketball, American foootball, Tennis, baseball and so on. Musports was
    created because I wanted to create a website where people people can talk about their interests and share their thoughts about what is going
    on daily in terms of music and conversation. Other people can be able to join the conversation on that
    they think about your opinion on the subject at hand.
</p>

