@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    3545 W Walnut Hill Ln<br />
    Irving, TX. 75038<br />
    <abbr title="Phone">P:</abbr>
    347-481-9352
</address>

<address>
    <strong>Support:</strong> <a href="saladegbemi@my.ancoraed.com">saladegbemi@my.ancoraed.com</a><br />
</address>
